<a href="https://colab.research.google.com/github/HemantAjmer/Demo_Repo/blob/main/DataScrap_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

table = soup.find("table", {"class": "wikitable"})
if table:
  rows = table.find_all("tr")
  for row in rows[1:]:
    cells = row.find_all("td")
    if len(cells) >= 6:
      state_name = cells[0].text.strip()
      population = cells[5].text.strip()
      print(f"State: {state_name}, Population: {population}")
else:
  print("Table not found on the page.")

State: AL, Population: 52,420
State: AK, Population: 665,384
State: AZ, Population: 295,234
State: AR, Population: 137,732
State: CA, Population: 163,695
State: CO, Population: 269,601
State: CT, Population: 5,543
State: DE, Population: 2,489
State: FL, Population: 65,758
State: GA, Population: 153,910
State: HI, Population: 28,313
State: ID, Population: 216,443
State: IL, Population: 57,914
State: IN, Population: 94,326
State: IA, Population: 145,746
State: KS, Population: 82,278
State: KY, Population: 40,408
State: LA, Population: 52,378
State: ME, Population: 35,380
State: MD, Population: 12,406
State: MA, Population: 27,336
State: MI, Population: 96,714
State: MN, Population: 86,936
State: MS, Population: 125,438
State: MO, Population: 69,707
State: MT, Population: 147,040
State: NE, Population: 77,348
State: NV, Population: 110,572
State: NH, Population: 9,349
State: NJ, Population: 8,723
State: NM, Population: 121,590
State: NY, Population: 54,555
State: NC, Population: 53,819
State: ND, Population: 70,698
State: OH, Population: 116,098
State: OK, Population: 181,037
State: OR, Population: 98,379
State: PA, Population: 46,054
State: RI, Population: 4,001
State: SC, Population: 32,020
State: SD, Population: 77,116
State: TN, Population: 109,153
State: TX, Population: 268,596
State: UT, Population: 219,882
State: VT, Population: 9,616
State: VA, Population: 42,775
State: WA, Population: 71,298
State: WV, Population: 62,756
State: WI, Population: 65,496
State: WY, Population: 253,335

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

names = []
years = []
ratings = []

for i in range(1, 251, 25):
    url_new = f"https://www.imdb.com/chart/top/?start={i}&ref_=adv_nxt"
    response = requests.get(url_new, headers={"User-Agent": "Mozilla/5.0"})
    soup = BeautifulSoup(response.content, "html.parser")

    movies = soup.find_all('li', class_='ipc-metadata-list-summary-item sc-10233bc-0 TwzGn cli-parent')

    for movie in movies:
        name = movie.find('h3', class_='ipc-title__text').get_text().strip()
        name = name.split('. ', 1)[-1].strip()
        year = movie.find('span', class_='sc-ab348ad5-8 cSWcJI cli-title-metadata-item').get_text().strip()
        rating = movie.find('span', class_='ipc-rating-star--imdb').get_text().strip()
        names.append(name)
        years.append(year)
        ratings.append(rating)

d = {"Name": names, "Year": years, "Rating": ratings}
df = pd.DataFrame(d)
print(df)

                         Name  Year      Rating
0    The Shawshank Redemption  1994    9.3 (3M)
1               The Godfather  1972  9.2 (2.1M)
2             The Dark Knight  2008  9.0 (2.9M)
3       The Godfather Part II  1974  9.0 (1.4M)
4                12 Angry Men  1957  9.0 (888K)
..                        ...   ...         ...
245     It's a Wonderful Life  1946  8.6 (507K)
246             Seven Samurai  1954  8.6 (372K)
247  The Silence of the Lambs  1991  8.6 (1.6M)
248       Saving Private Ryan  1998  8.6 (1.5M)
249               City of God  2002  8.6 (815K)

[250 rows x 3 columns]